# Ignore node_modules in HomeApplianceControlSystem
HomeApplianceControlSytem/node_modules/

# General Node.js and React Native ignores
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS and IDE files
.DS_Store
.idea/
.vscode/

